/**** HEADER *****/


/** Primer Navbar **/
.navbar1 a:not(.circulo) {
    text-decoration: none;
    color: #707070;
}

.navbar1 li, .iconos a, .icon {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

header ul {
    padding: 0;
}

.navbar1 {
    display: flex;
    max-width: 1220px;
    margin: 0 auto;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.contenedor-navbar, .iconos {
    list-style: none;
    display: flex;
    align-items: center;
}

.circulo {
    background-color: #252524;
    border-radius: 15px;
    padding: 0.2rem 0.4rem;
    color: #FFFFFF;
    text-decoration: none;
}

.contenedor-navbar li, .icon {
    position: relative;
}

.contenedor-navbar li:after, .icon::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    height: 10px;
    width: 1px;
    background-color: #707070;
}


/** Segundo Navbar **/
.navbar2 {
    display: flex;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
}

.contenedor-navbar2 {
    display: flex;
}

.navbar2 li {
    list-style: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.navbar2 a:not(.circulo-rojo) {
    color: #222220;
    text-decoration: none;
}

.navbar2 img {
    height: 40px;
}

.contenedor-nav {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
}

.contenedor-img {
    padding-right: 3rem;
}

.circulo-rojo {
    background-color: #CE382B;
    border-radius: 15px;
    padding: 0.2rem 0.4rem;
    color: #FFFFFF;
    text-decoration: none;
}

.imagen-fondo {
    background-size: 100%;
    background-image: url(https://portales.inacap.cl/Assets/home/slider/2024/abril/EvolucionTP.jpg);
    background-repeat: no-repeat;
    z-index: 1;
}

.cont {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

.bold{
    font-weight: bold;
    font-size: 45px;
}

.cont a {
    color: #CE392B;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
}

.imagen-fondo-contenedor {
    display: flex;
}

.flex {
    flex-basis: 37%;
    padding-left: 2rem;
}

.circulo-blanco {
    background-color: #FFFFFF;
    border-radius: 22px;
    padding: 0.2rem 3.4rem;
    width: max-content;
    margin-left: 1rem;
}

.imagen-fondo-abajo {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 19px;
    padding: 0.1rem 0;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

/**** MAIN ****/

/** Institutos **/
.contenedor-institutos {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    /* Fuentes de google fonts */
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.cft {
    background-color: #6F1D28;
    color: #ffffff;
    position: relative;
    flex: 33.3%;
    height: 245px;
}

.ip {
    background-color: #B22834;
    color: #ffffff;
    position: relative;
    flex: 33.3%;
    height: 245px;
}

.educacion {
    background-color: #E4792E;
    color: #ffffff;
    flex: 33.3%;
    height: 245px;
}

.texto {
    margin: 2rem 2rem;
}

.contenedor-institutos a {
    color: #ffffff; 
}

.contenedor-institutos h2 {
    width: 65%;
}

.cft h2 {
    width: 100%;
}

/* Relleno para los contenedores para que sea vea como el de inacap */

.relleno-arriba {
    border-left: 30px solid transparent;
    border-top: 122.5px solid #B22834;
    position: absolute;
    top: 0;
    right: 0;
}

.relleno-abajo {
    border-left: 30px solid transparent;
    border-bottom: 122.5px solid #B22834;
    position: absolute;
    bottom: 0;
    right: 0;
}

.relleno-arriba-naranjo {
    border-left: 30px solid transparent;
    border-top: 122.5px solid #E4792E;
    position: absolute;
    top: 0;
    right: 0;
}

.relleno-abajo-naranjo {
    border-left: 30px solid transparent;
    border-bottom: 122.5px solid #E4792E;
    position: absolute;
    bottom: 0;
    right: 0;
}

/** Contenedor estudiar **/
.contenedor-estudiar {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.espacio {
    flex-basis: 32%;
    background-color: #F0F0F0;
}

.contenedor-estudiar h4, .gris a, .rojo a {
    font-weight: bold;
}

.contenedor-estudiar h4 {
    font-size: 24px;
}

.estudiar {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    max-width: 1200px;
    margin: 0 auto;
}

.gris {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    background-color: #707070;
}

.rojo {
    background-color: #CC0000;
}

.espacio div {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem 1.1rem;
}

.espacio a {
    color: #FFFFFF;
    text-decoration: none;
}

.estudiar i {
    font-size: 2rem;
    color: #CC0000;
}

.espaciado {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.espaciado a {
    color: #000000;
    display: block;
    font-weight: bold;
}

.abajo {
    position: absolute;
    bottom: 10px;
}

/** Contenedor Ficha Inacap **/
.ficha-inacap {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    max-width: 1200px;
    margin: 2rem auto;
    font-weight: bold;
}

.contenedor-ficha-inacap {
    display: flex;
}

.imagen-ficha-inacap {
    flex: 70%;
    text-align: center;
}

.texto-ficha-inacap {
    flex: 30%;
    background-color: #B50000;
}

.text {
    margin: 2rem;
}

.ficha-inacap .pequeño {
    text-align: center;
    font-size: 12px;
    margin-bottom: 0;
}

.ficha-inacap h4 {
    text-align: center;
    font-size: 32px;
    margin-top: 0;
}

.lineas p::after {
    content: '';
    display: block;
    margin-top: 1rem;
    width: 18.3rem;
    height: .05rem;
    background-color: rgba(255, 255, 255, 50%)
}

.imagen-ficha-inacap img {
    width: 90%;
    height: 40%;
    margin-top: 10rem;
}

.imagen-ficha-inacap p {
    color: #000000;
    font-size: 2rem;
}

/** Contenedor noticias **/
.noticia-flex {
    display: flex;
    flex-wrap: wrap;
}

.cajas-noticia {
    flex: 0 0 calc(30% - 10px);
    background-color: #E6E5E6;
    margin: 0.5rem;
    color: #666;
}

.cajas-noticia p {
    margin: 1rem;
}

.noticia-flex img {
    height: 25rem;
    background-color: #000000;
}

.noticias {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    max-width: 1250px;
    margin: 0 auto;
}

.noticias h3 {
    font-size: 2rem;
    margin-left: 0.5rem;
}

/**** FOOTER ****/