body {
    margin: 0;
}

/**** HEADER *****/


/** Primer Navbar **/
.navbar1 a:not(.circulo) {
    text-decoration: none;
    color: #707070;
}

.navbar1 li, .iconos a, .icon {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

header ul {
    padding: 0;
}

.navbar1 {
    display: flex;
    max-width: 1220px;
    margin: 0 auto;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.fondo-gris {
    background-color: #F0F0F0;
}

.contenedor-navbar, .iconos {
    list-style: none;
    display: flex;
    align-items: center;
}

.circulo {
    background-color: #252524;
    border-radius: 15px;
    padding: 0.2rem 0.4rem;
    color: #FFFFFF;
    text-decoration: none;
}

.contenedor-navbar li, .icon {
    position: relative;
}

.contenedor-navbar li:after, .icon::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    height: 10px;
    width: 1px;
    background-color: #707070;
}


/** Segundo Navbar **/
.navbar2 {
    display: flex;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    justify-content: center;
}

.contenedor-navbar2 {
    display: flex;
    align-items: center;
}

.contenedor-navbar2 {
    margin-bottom: 0;
}

.navbar2 li {
    list-style: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.navbar2 a:not(.circulo-rojo) {
    color: #222220;
    text-decoration: none;
}

.navbar2 img {
    height: 40px;
}

.contenedor-nav {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
}

.contenedor-img {
    padding-right: 3rem;
}

.circulo-rojo {
    background-color: #CE382B;
    border-radius: 15px;
    padding: 0.2rem 0.4rem;
    color: #FFFFFF;
    text-decoration: none;
}

/** Slider **/

.slider {
    width: 100%;
    height: auto;
    margin: 10px auto 0;
    overflow: hidden;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 500%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider li {
    width: 100%;
    list-style: none;
    position: relative;
}

.slider-texto {
    position: absolute;
    padding-top: 1.5rem;
    padding-left: 4.5rem;
    padding-right: 50%;
    top: 0;
    left: 0;
    color: #FFFFFF;
}

.slider h2 {
    font-size: 45px;
    margin-bottom: 35px;
}

.slider img {
    width: 100%;
}

@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.circulo-blanco {
    background-color: #FFFFFF;
    border-radius: 22px;
    padding: 0.2rem 3.4rem;
    width: max-content;
    margin-left: 1rem;
    position: absolute;
    bottom: 110px;
    left: 65px;
}

.circulo-blanco a {
    color: #CE392B;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
}

.imagen-fondo-abajo {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 19px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #FFFFFF;
}

/**** MAIN ****/

/** Institutos **/
.contenedor-institutos {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    /* Fuentes de google fonts */
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.cft {
    background-color: #6F1D28;
    color: #ffffff;
    position: relative;
    flex: 33.3%;
    height: 245px;
}

.ip {
    background-color: #B22834;
    color: #ffffff;
    position: relative;
    flex: 33.3%;
    height: 245px;
}

.educacion {
    background-color: #E4792E;
    color: #ffffff;
    flex: 33.3%;
    height: 245px;
}

.texto {
    margin: 2rem 2rem;
}

.texto p {
    margin-bottom: 1.5rem;
}

.contenedor-institutos a {
    color: #ffffff; 
}

.contenedor-institutos h2 {
    width: 65%;
}

.cft h2 {
    width: 100%;
}

/* Relleno para los contenedores para que sea vea como el de inacap */

.relleno-arriba {
    border-left: 30px solid transparent;
    border-top: 122.5px solid #B22834;
    position: absolute;
    top: 0;
    right: 0;
}

.relleno-abajo {
    border-left: 30px solid transparent;
    border-bottom: 122.5px solid #B22834;
    position: absolute;
    bottom: 0;
    right: 0;
}

.relleno-arriba-naranjo {
    border-left: 30px solid transparent;
    border-top: 122.5px solid #E4792E;
    position: absolute;
    top: 0;
    right: 0;
}

.relleno-abajo-naranjo {
    border-left: 30px solid transparent;
    border-bottom: 122.5px solid #E4792E;
    position: absolute;
    bottom: 0;
    right: 0;
}

/** Contenedor estudiar **/
.contenedor-estudiar {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 2.5rem;
}

.espacio {
    flex-basis: 32%;
    background-color: #F0F0F0;
}

.estudiar h2 {
    font-size: 2rem;
}

.contenedor-estudiar h4, .gris a, .rojo a {
    font-weight: bold;
}

.contenedor-estudiar h4 {
    font-size: 24px;
}

.estudiar {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 4rem;
}

.gris {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    background-color: #707070;
}

.rojo {
    background-color: #CC0000;
}

.espacio div {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem 1.1rem;
}

.espacio a {
    color: #FFFFFF;
    text-decoration: none;
}

.estudiar i {
    font-size: 2rem;
    color: #CC0000;
}

.espaciado {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.espaciado a {
    color: #000000;
    display: block;
    font-weight: bold;
}

.abajo {
    position: absolute;
    bottom: 10px;
}

/** Contenedor Ficha Inacap **/
.ficha-inacap {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    max-width: 1200px;
    margin: 6rem auto;
    font-weight: bold;
}

.contenedor-ficha-inacap {
    display: flex;
}

.imagen-ficha-inacap {
    flex: 70%;
    text-align: center;
}

.texto-ficha-inacap {
    flex: 30%;
    background-color: #B50000;
}

.text {
    margin: 2rem;
}

.ficha-inacap .pequeño {
    text-align: center;
    font-size: 12px;
    margin-bottom: 0;
}

.ficha-inacap h4 {
    text-align: center;
    font-size: 32px;
    margin-top: 0;
}

.lineas p::after {
    content: '';
    display: block;
    margin-top: 1rem;
    width: 18.3rem;
    height: .05rem;
    background-color: rgba(255, 255, 255, 50%)
}

.imagen-ficha-inacap img {
    width: 90%;
    height: 40%;
    margin-top: 10rem;
}

.imagen-ficha-inacap p {
    color: #000000;
    font-size: 2rem;
}

/** Contenedor noticias **/
.noticia-flex {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}

.cajas-noticia {
    flex: 0 0 calc(33% - 34.5px);
    background-color: #E6E5E6;
    margin: 1.2rem;
    color: #666;
}

.cajas-noticia p {
    margin: 1rem;
    font-size: 18px;
}

.noticia-flex img {
    height: 276px;
    width: 360px;
    background-color: #000000;
}

.noticias {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    max-width: 1200px;
    margin: 0 auto;
}

.noticias h3 {
    font-size: 2rem;
    margin-left: 1.1rem;
    margin-bottom: 1rem;
}

/**** FOOTER ****/

.footer-flex {
    display: flex;
}

footer {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #0F0C0F;
    color: #FFFFFF;
    margin-top: 3rem;
    font-size: 14px;
    font-weight: bold;
    height: 408px;
}

footer li {
    list-style: none;
    margin: 0.5rem 0;
    position: relative;
}

footer ul {
    padding: 0;
}



.footer-primero {
    flex: 28%;
}

.footer-segundo {
    flex: 28%;
}

.footer-tercero {
    flex: 22%;
}

.footer-cuarto {
    flex: 22%;
}

.footer-margin {
    margin: 0 15rem;
    padding: 1rem 0;
}

.cuadrado::before{
    content: "";
    display: block;
    position: absolute;
    left: -15px;
    top: 50%;
    width: 5px;
    height: 5px;
    background-color: #FFFFFF;
    border-radius: 0px;
}

.cuadrado {
    margin-left: 1rem;
}

.logos {
    display: flex;
    position: relative;
}

.logo-inacap {
    height: 3rem;
}

.logos-varios img {
    height: 4rem;
}

.logos-varios {
    position: absolute;
    right: 10rem;
}

.footer-icon {
    margin-right: 0.7rem;
    color: #FF575F;
}